/*структура проекта*/


html {
    scroll-behavior: smooth;
    height: 100%;
    text-decoration: none;
}

body {
    
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 1280px;
    
    
    background: #f1cdb3;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    transition: all 0.2s;
}

button {
    border: none;
    background: none;
    text-decoration: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    padding: 0 40px 0 40px;
}


section .container {
    padding: 77px 0 100px 0;
}

/*Лого + навигация*/

.header {
    margin: 0 auto;
    padding: 60px 40px 0 40px;
    background: url('../../assets/images/start-screen-background.jpg') no-repeat;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.text_logo {
    padding-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: #F1CDB3;     
}

.text_logo a{
    color: #F1CDB3; 
}

.subtitle_logo {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.header_nav_buttons {
    display: flex;
    column-gap: 35px;
    justify-content: center;
}

.header_nav_buttons_text {
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
}

.header_nav_buttons .active {
    border-bottom: 3px solid #F1CDB3;
    text-decoration: none;
}

.header_nav_buttons_text a {
    color: #CDCDCD;
}

.header_nav_buttons_text a:hover {
    color: #FAFAFA; 
    text-decoration: none;
}

.burger_menu {
    display: none;
}

/*Титульная страница с пёселем*/
.not_only {
    margin: 0 auto;
    padding: 0 40px 0 40px;
    background: url('../../assets/images/start-screen-background.jpg') no-repeat;
}

.not_only_container {
    display: flex;
    column-gap: 42px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.not_only_content{
    padding: 80px 0 243px 0;
}

.not_only_title {
    color: #FFFFFF;
}

.not_only_title h1 {
    max-width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    text-align: left;
    margin-bottom: 42px;
}

.not_only_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    margin-bottom: 42px;

    color: #CDCDCD;
}

.not_only_button {
    position: absolute;
    width: 207px;
    border-radius: 100px;
    line-height: 52px;
    text-align: center;

    background: #F1CDB3;
    
}

.not_only_button a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none;

    color: #292929;
}

.not_only_button:hover {
	background: #FDDCC4;
    transition: all 0.4s;
}


/*Информация про приют*/

.about_shelter {
    background: #FFFFFF;
}

.about_shelter_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    margin: 0 auto;
}

.about_shelter_text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 430px;
    max-height: 380px;
    row-gap: 25px;
}

.about_shelter_container .about_shelter_title_text {
    margin: 0 60px 0 0;
    letter-spacing: 0.06em;
}

.about_shelter_title_text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    color: #545454;
}

.about_shelter_subtitle {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    margin-top: -15px;

    color: #4C4C4C;
}

.about_shelter_subtitle p:first-child {
    margin-bottom: 25px;
}

/*Список животных для усыновления*/

.our_friends {
    background: #F6F6F6;
}

.our_friends_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    row-gap: 30px;
}

.our_friends_title {
    text-align: center;

    color: #545454;
}

.our_friends_title h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 45.5px;
    font-weight: 400;
    letter-spacing: 0.06em;
}


.our_friends_content {
    display: flex;
    column-gap: 53px;
}

.slide_button_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
}

.slide_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;

    border: 2px solid #F1CDB3;
}

.slide_button:hover {
	background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: all 0.4s;
}

.right_button, .left_button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 14px;
    max-height: 6px; 
}

.our_friends_cards {
    display: flex;
    column-gap: 90px;
}

.card_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-bottom: 30px;
    border-radius: 9px;

    background: #FAFAFA;
}

.card_information:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #FFFFFF;
    transition: all 0.4s;
}

.card_name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: -5px;
    letter-spacing: 0.06em;

    color: #545454;
}

.card_information .button {
    background: none;
    border: 2px solid #f1cdb3;
    width: 185px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    line-height: 52px;
    margin: 0 auto;
}

.button a{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #292929;
}

.card_information .button:hover {
	background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: all 0.4s;
}

.our_friends_central_button .button {
    width: 261px;
    line-height: 52px;
    border-radius: 100px;
    text-align: center;
    margin-top: 30px;
    background: #F1CDB3;
    transition: all 0.4s;
}
.our_friends_central_button .button:hover {
	background: #FDDCC4;
    transition: all 0.4s;
}

/*Раздел 'Помощь'*/

.help_shelter {
    background: #FFFFFF;
}

.help_shelter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 45px; 
}

.help_shelter_title {
    text-align: center;
    padding-top: 5px;
    
    color: #545454;
}

.help_shelter_title h2{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0;
}

.help_rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
}

.help_top_row {
    display: flex;
    justify-content: center;
    column-gap: 110px;
}
.help_item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center; 
    justify-content: center;
}

.help_item_text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    color: #545454;
}

.help_bottom_row {
    display: flex;
    column-gap: 120px;
    align-items: center;
    justify-content: center;
}

.help_item_icon button {
    width: 90px;
    height: 90px;
    border-radius: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help_item_icon button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: all 0.5s ease-in-out 0s;
}


/*Счет для пожертвований*/

.donation_info {
    background: #F6F6F6;
}

.donation_info_container {
    display: flex;
    justify-content: center; 
    column-gap: 30px;
    
}

.donation_info_photo {
    padding: 10.5px 0 10.5px 0;
}

.donation_info_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    max-width: 380px;
}

.donation_info_title h2 {
    padding: 0 auto;
    margin: 0 auto;
    width: 300px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #545454;
}

.donation_info_text {
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.06em;
}

.donation_bank {
    font-family: 'Georgia';
    font-style: normal;

    color: #545454;
}

.donation_item {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    max-width: 320px;
    column-gap: 15px;
    padding: 10px 15px;
    border-radius: 9px;

    background: #F1CDB3;
}

.donation_item:hover {
	background: #FDDCC4;
    transition: all 0.4s;
}

.donation_card_icon {
    width: 30px;
    height: 23px;

    color: #292929;
}

.donation_card_number {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    color: #545454;
}

.bank_information {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.06em;
    max-height: 72px;

    color: #B2B2B2;
}

/*Блок с контактами*/

.footer {
    background: url('../../assets/images/footer-gradient-background.png') no-repeat;
    margin: 0 auto;
    padding: 40px 40px 0px 40px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_text {
    display:flex;
    justify-content: center;
    column-gap: 161px;
}

.footer_contacts, .footer_location {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.footer_contacts_title {
    max-width: 280px;
    margin-bottom: 45px;
}

.footer_location_title {
    max-width: 280px;
    margin-bottom: 40px;
}

.footer_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    padding: 0 auto;

    color: #FFFFFF;
}

.footer_item {
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.footer_contacts .footer_item {
    margin-bottom: 40px;
}

.footer_location .footer_item {
    margin-bottom: 30px;
}

.footer_item_text {
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer_item a {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-decoration: none;

    color: #F1CDB3;
}


/*Медиазапросы*/
@media  (min-width: 768px) and (max-width:1280px) {
    /*структура проекта*/
    body {
        width: 768px;
    }

    .container{
        width: 708px;
    }

    section {
        padding: 0 30px 0 30px;
    }

    /*Лого + навигация*/
    .header {
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background: url('../../assets/images/start-screen-gradient-background 768.png') no-repeat;
    }

    .burger_menu {
        display: none;
    }



    /*Титульная страница с песелем*/
    .not_only {
        padding: 0px 30px 0px 30px;
        background: url('../../assets/images/start-screen-gradient-background 768.png') no-repeat;
    }
    
    .not_only_container {
        display: flex;
        flex-direction: column;
        column-gap: 100px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .not_only_content{
        display: flex;
        width: 460px;
        padding: 30px 0 0 0;
    }
    
    .not_only_button {
        margin-left: 125px;
    }
    
    .not_only_photo {
        margin: 152px 0 0 133px;
    }

    .not_only_photo .dog_face {
        width: 569px;
        height: 593px;
    }



    /*Информация про приют*/
    .about_shelter_container {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 80px;

    }


    
    /*Карточки с питомцами*/
    .our_friends_content {
        column-gap: 12px;
    }
    
    .our_friends_cards {
        flex-shrink: 0;
        width: 580px;
        column-gap: 40px;
        overflow: hidden;
    }



    /*Раздел 'Помощь'*/
    .help_shelter{
        height: 779px;
    }

    .help_rows {
        width: 630px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
    }

    .help_top_row {
        display: contents;

    }

    .help_item {
        width: 175px;
        height: 113px;
    }

    .help_top_row .help_item:nth-child(2) {
        padding-left: 10px;
    }

    .help_bottom_row {
        display: contents;
    }

    .help_bottom_row .help_item:nth-child(2),
    .help_bottom_row .help_item:nth-child(3),
    .help_bottom_row .help_item:nth-child(4){
        padding-top: 10px;
    }




    /*Счет для пожертвований*/
    .donation_info .container{
        margin-top: 5px;
        margin-bottom: -10px;
        
    }

    .donation_info_container {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 47px;
        
    }

    .donation_info_content {
        row-gap: 5px;
    }

    .donation_bank {
        margin-bottom: 20px;
    }

    .bank_information {
        font-size: 11.5px;
    }



    /*Контакты*/
    .footer {
        background: url('../../assets/images/footer-gradient-background 768.png') no-repeat;
        padding: 30px 30px 0px 30px;
    }
    
    .footer_container {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
 
    .footer_text {
        column-gap: 61px;
        align-content: center;
    }
    
    .footer_contacts, .footer_location {
        margin-top: 2px;
        margin-left: -7px;
    }

    .footer_contacts_title,
    .footer_location_title {
        line-height: 1.2;
    }

    .footer_contacts_title {
        margin-bottom: 45px;
    }

    .footer_contacts .footer_item p {
        padding-bottom: 5px;
    }

    .footer_location_title {
        margin-bottom: 35px;
    }

}

@media (max-width:768px) {
    body {
        width: 320px;
    }

    .container{
        width: 300px;
    }

    section {
        padding: 42px 10px 42px 10px;
    }

    section .container {
        padding: 0 0 0 0;
    }


    /*Лого + навигация*/
    .header {
        margin: 0 auto;
        padding: 30px 10px 0 10px;
        background: url('../../assets/images/start-screen-gradient-background 320.png') no-repeat;
    }

    .header_nav_buttons {
        display: none;
    }

    .header_container {
       justify-content: flex-start; 
       column-gap: 40px;
    }

    .burger_menu {
        display: block;
    }

    /*Титульная страница с песелем*/
    .not_only {
        padding: 0px 10px 0px 10px;
        background: url('../../assets/images/start-screen-gradient-background 320.png') no-repeat;
    }
    
    .not_only_container {
        display: flex;
        flex-direction: column;
        column-gap: 100px;
        align-items: center;
        margin-top: 0px;
    }
    
    .not_only_content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 300px;
        padding: 60px 0 0 0;
    }

    .not_only_title h1{
        text-align: center;
        font-size: 29px;
        width: 210px;
        line-height: 1.1;
        margin: 0 auto;
    }

    .not_only_subtitle {
        margin-top: 42px;
    }

    .not_only_subtitle p{
        text-align: center;
    }
    
    .not_only_button {
        margin-left: 45px;
    }
    
    .not_only_photo {
        margin: 157px 0 0 50px;
    }

    .not_only_photo .dog_face {
        width: 260px;
        height: 271.77px;
    }

    /*Информация про приют*/
    .about_shelter_container {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 150px;

    }

    .about_shelter_photo .cat_doggo {
        width: 260px;
        height: 353.6px;
    }

    .about_shelter_text {
        justify-content: center;
        text-align: justify;
        width: 270px;
        height: 494px;
        row-gap: 25px;
    }

    .about_shelter_title h2 {
        text-align: center;
        font-size: 25px;
    }

    .about_shelter_container .about_shelter_title_text {
        margin: 0 auto;
        width: 250px;
    }

    .about_shelter_subtitle {
        width: 270px;
    }

    .about_shelter_subtitle p:first-child {
        margin-bottom: 20px;
    }

        
    /*Карточки с питомцами*/
    .our_friends_container {
        row-gap: 20px;
    }

    .our_friends_title{
        padding-top: 10px;
    }

    .our_friends_title h2{
        font-size: 25px;
        line-height: 1.3;
    }

    .our_friends_content {
        column-gap: 0px;
        width: 270px;
        overflow: hidden;
        flex-flow: wrap;
        row-gap: 20px;
    }

    .slide_button_block {
        order: 2;
    }
    
    .our_friends_central_button .button {
        margin-top: 20px;
    }

    /*Раздел 'Помощь'*/
    .help_shelter_container {
        row-gap: 22px;
        margin-bottom: 20px;
    }


    .help_shelter_title {
        padding-top: 0px;
    }

    .help_shelter_title h2{
        font-size: 25px;
        line-height: 1.3;
    }

    .help_rows {
        width: 290px;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: flex-start;
    }
    
    .help_top_row {
        display: contents;
    
    }
    
    .help_bottom_row {
        display: contents;
    }

    .help_item {
        width: 130px;
        height: 87px;
        justify-content: flex-start;
        row-gap: 0px;
    }

    .help_item_icon img{
        width: 80%;
        height: 80%;

    }

    .help_item_text {
        font-size: 15px;
    }



    /*Счет для пожертвований*/
    .donation_info .container{
        margin-bottom: -10px;
    }

    .donation_info_container {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 50px;
        margin-bottom: -15px;
        
    }

    .donation_info_content {
        row-gap: 9px;
    }

    .donation_info_title {
        padding: 0 auto;
        height: 64px;
    }

    .donation_info_title h2{
        text-align: center;
        font-size: 25px;

    }

    .donation_info_text {
        letter-spacing: 0.03em;
    }

    .donation_bank {
        margin-bottom: 23px;
        text-align: center;
        font-size: 14px;
    }

    .donation_item {
        width: 251px;
        margin: 0 auto;
    }

    .donation_card_number {
        font-size: 15px;
    }


    .bank_information {
        text-align: center;
        margin-top: 20px;
        font-size: 11.5px;
        line-height: 1.6;
    }

    .donation_info_photo img {
        width: 260px;
        height: 135.2px;
    }

    /*Контакты*/
    .footer {
        background: url('../../assets/images/footer-gradient-background 320.png') no-repeat;
        padding: 29.8px 10px 0px 10px;
    }
    
    .footer_container {
        flex-direction: column;
        align-items: center;
        row-gap: 0px;
    }
 
    .footer_text {
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
    }

    .footer_contacts, .footer_location {
        margin: 0 auto;
    }

    .footer_contacts {
        width: 278px;
    }

    .footer_contacts_title p,
    .footer_location_title p {
        text-align: center;;
        font-size: 25px;
        line-height: 1.3;
    }

    .footer_location_title {
        margin: 0 auto;
        margin-bottom: 40px;
    }


    .footer_contacts .footer_item {
        padding-left: 13px;
        margin-bottom: 35px;
    }

    .footer_location .footer_item {
        margin-bottom: 40px;
    }

    .footer_location .footer_item:last-child{
        margin-bottom: 35px;
    }

    .footer_photo img {
        height: 269px;
        width: 260px;
    }





}